<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body        { padding-top:80px; }
    </style>
    
    <meta name="description" content="See movies suggested by others and make your own watch list" />
	<meta name="keywords" content="movies, movie, friends, watch, tv, show, list, interactive, spa, assignment, suggest" />
	<meta name="author" content="Justin Turner - 250674149">
</head>
<body>
<div class="container">

    <div class="jumbotron text-center">
        <h1><span class="fa fa-film"></span> mov!es</h1>

        <p>Login or Register with:</p>

        <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Login</a>
        <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Signup</a>
    </div>

</div>
</body>
</html>